# insert new data

In [4]:
%%sql

show tables

 * mysql+pymysql://root:***@localhost:3306/animal
10 rows affected.

[('areas',),
 ('Attendance',),
 ('Category',),
 ('FavCategory',),
 ('Films',),
 ('Location',),
 ('MemberDetails',),
 ('scores',),
 ('stu',),
 ('subjects',)]

In [8]:
%%sql

insert into Category(CategoryId, Category) values(1, 'Thriller')

 * mysql+pymysql://root:***@localhost:3306/animal
1 rows affected.

[]

In [9]:
%%sql

select * from Category

 * mysql+pymysql://root:***@localhost:3306/animal
1 rows affected.

[(1, 'Thriller')]

In [10]:
%%sql

insert into MemberDetails
values
(
    1,
    'Katie',
    'Smith',
    '1977-01-09',
    'Main Road',
    'Townsville',
    'Stateside',
    '123456',
    'katie@mail.com',
    '2004-02-23'
)

 * mysql+pymysql://root:***@localhost:3306/animal
1 rows affected.

[]

In [11]:
%%sql

select * from MemberDetails

 * mysql+pymysql://root:***@localhost:3306/animal
1 rows affected.

[(1, 'Katie', 'Smith', datetime.date(1977, 1, 9), 'Main Road', 'Townsville', 'Stateside', '123456', 'katie@mail.com', datetime.date(2004, 2, 23))]

In [4]:
%%sql

select * from MemberDetails

 * mysql+pymysql://root:***@localhost:3306/animal
6 rows affected.

[(2, 'Bob', 'Robson', datetime.date(1987, 1, 9), 'Little Street', 'Big City', 'Small State', '34565', 'rob@mail.com', datetime.date(2004, 3, 13)),
 (3, 'Sandra', 'Jakes', datetime.date(1957, 5, 15), 'The Avenue', 'Windy Village', 'Golden State', '65423', 'sandra@her_mail.com', datetime.date(2004, 4, 13)),
 (4, 'Steve', 'Gee', datetime.date(1967, 10, 5), 'The Road', 'Windy Village', 'Golden State', '65424', 'steve@gee.com', datetime.date(2004, 2, 22)),
 (5, 'John', 'Jones', datetime.date(1952, 10, 5), 'New Lane', 'Big Apple City', 'New State', '88776', 'jj@jonesmail.org', datetime.date(2005, 1, 2)),
 (6, 'Jenny', 'Jones', datetime.date(1953, 8, 25), 'New Lane', 'Big Apple City', 'New State', '88776', 'jj@jonesmail.org', datetime.date(2005, 1, 2)),
 (1, 'Katie', 'Smith', datetime.date(1977, 1, 9), 'Main Road', 'Townsville', 'Stateside', '123456', 'katie@mail.com', datetime.date(2004, 2, 23))]

# update data

In [6]:
%%sql


update MemberDetails 
set 
Street='45 Upper Road',
City='New Town',
State='New State',
Zipcode='99112'
where MemberId=4

 * mysql+pymysql://root:***@localhost:3306/animal
1 rows affected.

[]

In [7]:
%%sql

update MemberDetails
set
State='Mega State'
where
State='Small State'
or
State='Stateside'

 * mysql+pymysql://root:***@localhost:3306/animal
2 rows affected.

[]

In [8]:
%%sql

update Location
set
State='Mega State'
where
State='Small State'
or
State='Stateside'

 * mysql+pymysql://root:***@localhost:3306/animal
1 rows affected.

[]

# delete data

In [9]:
%%sql

delete from Attendance
where
MemberId=3

 * mysql+pymysql://root:***@localhost:3306/animal
4 rows affected.

[]

In [10]:
%%sql

delete from FavCategory
where
MemberId=3

 * mysql+pymysql://root:***@localhost:3306/animal
5 rows affected.

[]