# Creating a Database

In [17]:
%%sql

create database myFirstDatabase

 * mysql+pymysql://root:***@localhost:3306/animal
1 rows affected.

[]

In [4]:
%%sql

show databases

 * mysql+pymysql://root:***@localhost:3306/animal
8 rows affected.

[('animal',),
 ('information_schema',),
 ('myFirstDatabase',),
 ('mysql',),
 ('performance_schema',),
 ('res',),
 ('sys',),
 ('test1',)]

# Data Types

### 1. character : char
### 2. character varying : varchar
### 3. interger : int
### 4. smallint : smallint
### 5. real : real
### 6. decimal : decimal
### 7. date : date
### 8. time : time

In [6]:
%%sql

create table MemberDetails
(
    MemberId int,
    FirstName varchar(50),
    LastName varchar(50),
    DateOfBirth date,
    Street varchar(100),
    City varchar(75),
    State varchar(75),
    ZipCode varchar(12),
    Email varchar(200),
    DateOfJoining date
)

 * mysql+pymysql://root:***@localhost:3306/animal
0 rows affected.

[]

In [9]:
%%sql

create table Attendance
(
    MeetingDate date,
    Location varchar(200),
    MemberAttended char(1),
    MemberId int
)

 * mysql+pymysql://root:***@localhost:3306/animal
0 rows affected.

[]

In [10]:
%%sql

create table Films(
    FilmId int,
    FilmName varchar(100),
    YearReleased int,
    PlotSummary varchar(2000),
    AvailableOnDVD char(1),
    Rating int,
    CategoryId int
)

 * mysql+pymysql://root:***@localhost:3306/animal
0 rows affected.

[]

In [11]:
%%sql

create table Category(
    CategoryId int,
    Category varchar(100)
)

 * mysql+pymysql://root:***@localhost:3306/animal
0 rows affected.

[]

In [12]:
%%sql

create table FavCategory(
    CategoryId int,
    MemberId int
)

 * mysql+pymysql://root:***@localhost:3306/animal
0 rows affected.

[]

# Exercises

## 1. drop Location
## 2. add LocationId
## 3. create Location table

In [6]:
%%sql

alter table Attendance
drop column Location

 * mysql+pymysql://root:***@localhost:3306/animal
0 rows affected.

[]

In [7]:
%%sql

alter table Attendance
add LocationId int

 * mysql+pymysql://root:***@localhost:3306/animal
0 rows affected.

[]

In [8]:
%%sql

create table Location(
    LocationId int,
    Street varchar(100),
    City varchar(75),
    State varchar(75)

)

 * mysql+pymysql://root:***@localhost:3306/animal
0 rows affected.

[]

In [9]:
%%sql

show tables

 * mysql+pymysql://root:***@localhost:3306/animal
10 rows affected.

[('areas',),
 ('Attendance',),
 ('Category',),
 ('FavCategory',),
 ('Films',),
 ('Location',),
 ('MemberDetails',),
 ('scores',),
 ('stu',),
 ('subjects',)]

In [10]:
%%sql

show databases

 * mysql+pymysql://root:***@localhost:3306/animal
8 rows affected.

[('animal',),
 ('information_schema',),
 ('myFirstDatabase',),
 ('mysql',),
 ('performance_schema',),
 ('res',),
 ('sys',),
 ('test1',)]